node-red.json
[
    {
        "id": "78f04c1128a4100f",
        "type": "tab",
        "label": "ESP32 MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a15340aee8fccd3e",
        "type": "group",
        "z": "78f04c1128a4100f",
        "name": "DOWNLOAD REQUEST LINK (KETIKA LINK DOWNLOAD DI KLIK)",
        "style": {
            "label": true
        },
        "nodes": [
            "52d3a1adbb76270f",
            "311b246cb08daf2e",
            "24240f9d09a49a11",
            "463f5727536a49c3",
            "0dc8805fb4afbb91",
            "1d53d28b25def0f1",
            "ab01cd609b5846cb"
        ],
        "x": 74,
        "y": 1059,
        "w": 912,
        "h": 202
    },
    {
        "id": "196081f0352f3af0",
        "type": "group",
        "z": "78f04c1128a4100f",
        "name": "WRITE FILE TO DIRECTORY",
        "style": {
            "label": true
        },
        "nodes": [
            "e59de277e2f488a3",
            "6754fdfc83ccf7d5",
            "270b96a238394039",
            "db3b739ff69854bd",
            "78316ccb1ea790cb",
            "b1cd8de2cd59f0d3",
            "7a86e46973eda80c",
            "778e1dc08be9e496"
        ],
        "x": 74,
        "y": 859,
        "w": 832,
        "h": 182
    },
    {
        "id": "40836f6546617f82",
        "type": "group",
        "z": "78f04c1128a4100f",
        "name": "STORE DATA TO DATABASE",
        "style": {
            "label": true
        },
        "nodes": [
            "e4490a2d78dd322c",
            "e4552ffc63cc8271",
            "c681dfee683963ac",
            "d0fe0f29b216778b",
            "6594cc0b71735e9d",
            "30397002da674aae",
            "4b0bcdb747c158f2",
            "043e0b845b7df3ad",
            "bc263a9d365765fb"
        ],
        "x": 74,
        "y": 59,
        "w": 852,
        "h": 282
    },
    {
        "id": "5d020af5e95b2f0f",
        "type": "group",
        "z": "78f04c1128a4100f",
        "name": "FILTER TABLE",
        "style": {
            "label": true
        },
        "nodes": [
            "81c40225139934ae",
            "6813becc9e0d8ec1",
            "7d2a5a9b8b1ce378",
            "0731f89226b0feb7",
            "e9f81cf86ae13e54",
            "df41d33c64d8a964",
            "73acbbe2699ca38a",
            "b44068ca67893d02",
            "9153142b40625994",
            "18b09637292ae514",
            "ef8d591e536f6f75"
        ],
        "x": 54,
        "y": 419,
        "w": 932,
        "h": 222
    },
    {
        "id": "e4552ffc63cc8271",
        "type": "mqtt in",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "SUBSCRIBE",
        "topic": "edutic/dht11/json",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d02df75253f5c541",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "e4490a2d78dd322c",
                "d0fe0f29b216778b"
            ]
        ]
    },
    {
        "id": "e4490a2d78dd322c",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "SAVE TO DATABASE",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\nvar unixtime = parseInt(((Date.now()/1000).toFixed(10)));\n\nmsg.topic = \"INSERT INTO sensor(temperature,humidity,unixtime) VALUES(\"+temperature+\",\"+humidity+\",\"+unixtime+\")\";\nmsg.payload = {\n    temperature : temperature,\n    humidity : humidity\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "bc263a9d365765fb"
            ]
        ]
    },
    {
        "id": "c681dfee683963ac",
        "type": "mysql",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "mydb": "c440fb64982f81a2",
        "name": "",
        "x": 810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "81c40225139934ae",
        "type": "mysql",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "mydb": "c440fb64982f81a2",
        "name": "",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "ef8d591e536f6f75"
            ]
        ]
    },
    {
        "id": "ed449970653dd819",
        "type": "function",
        "z": "78f04c1128a4100f",
        "name": "DELETE DATABASE",
        "func": "msg.topic = \"DELETE FROM sensor WHERE 1\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "cd05144cfc9eba99"
            ]
        ]
    },
    {
        "id": "368857c47aecdf4f",
        "type": "inject",
        "z": "78f04c1128a4100f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "ed449970653dd819"
            ]
        ]
    },
    {
        "id": "cd05144cfc9eba99",
        "type": "mysql",
        "z": "78f04c1128a4100f",
        "mydb": "c440fb64982f81a2",
        "name": "",
        "x": 610,
        "y": 720,
        "wires": [
            [
                "9bf38d8462aab94b"
            ]
        ]
    },
    {
        "id": "fd06265f153b540b",
        "type": "function",
        "z": "78f04c1128a4100f",
        "name": "UPDATE database",
        "func": "msg.topic = \"UPDATE monitoring SET temperature = 25.8 WHERE id=1080\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 800,
        "wires": [
            [
                "20a607fd74aa5b24"
            ]
        ]
    },
    {
        "id": "fd854ebd7adbbba7",
        "type": "inject",
        "z": "78f04c1128a4100f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 210,
        "y": 800,
        "wires": [
            [
                "fd06265f153b540b"
            ]
        ]
    },
    {
        "id": "20a607fd74aa5b24",
        "type": "mysql",
        "z": "78f04c1128a4100f",
        "mydb": "c440fb64982f81a2",
        "name": "",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "afdbbd54104ab4d1"
            ]
        ]
    },
    {
        "id": "6813becc9e0d8ec1",
        "type": "ui_table",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "group": "7e4ca4b84762c487",
        "name": "",
        "order": 8,
        "width": 12,
        "height": 9,
        "columns": [
            {
                "field": "number",
                "title": "No.",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "unixtime",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temperature",
                "title": "Temperature",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "Humidity",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "9bf38d8462aab94b",
        "type": "debug",
        "z": "78f04c1128a4100f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "afdbbd54104ab4d1",
        "type": "debug",
        "z": "78f04c1128a4100f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 800,
        "wires": []
    },
    {
        "id": "7d2a5a9b8b1ce378",
        "type": "ui_date_picker",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "",
        "label": "Tanggal",
        "group": "7e4ca4b84762c487",
        "order": 1,
        "width": 9,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "e9f81cf86ae13e54"
            ]
        ]
    },
    {
        "id": "0731f89226b0feb7",
        "type": "ui_button",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "",
        "group": "7e4ca4b84762c487",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "SUBMIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "b44068ca67893d02"
            ]
        ]
    },
    {
        "id": "e9f81cf86ae13e54",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "INPUT TANGGAL",
        "func": "\nvar tanggal = parseInt(msg.payload/1000) - 25200;\nflow.set('tanggal', tanggal);\nmsg.payload = tanggal;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "df41d33c64d8a964",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "INPUT WAKTU AWAL",
        "func": "var waktu_awal = parseInt(msg.payload / 1000);\nflow.set('waktu_awal', waktu_awal);\nmsg.payload = waktu_awal;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "73acbbe2699ca38a",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "INPUT WAKTU AKHIR",
        "func": "var waktu_akhir = parseInt(msg.payload/1000);\nflow.set('waktu_akhir', waktu_akhir);\nmsg.payload = waktu_akhir;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b44068ca67893d02",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "DATABASE QUERY",
        "func": "var tanggal = flow.get('tanggal');\nvar waktu_awal = flow.get('waktu_awal');\nvar waktu_akhir = flow.get('waktu_akhir');\n\nvar start = tanggal+waktu_awal;\nvar end = tanggal+waktu_akhir;\n\nmsg.topic = \"SELECT * FROM sensor WHERE unixtime BETWEEN \"+start+\" AND \"+end+\";\";\nmsg.payload = [tanggal,waktu_awal,waktu_akhir,start, end];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "81c40225139934ae"
            ]
        ]
    },
    {
        "id": "d0fe0f29b216778b",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "Parsing data",
        "func": "var temperature = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\n\n\nreturn [\n    {payload : temperature},\n    {payload : humidity}\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "043e0b845b7df3ad",
                "6594cc0b71735e9d"
            ],
            [
                "4b0bcdb747c158f2",
                "30397002da674aae"
            ]
        ]
    },
    {
        "id": "6594cc0b71735e9d",
        "type": "ui_chart",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "",
        "group": "d6ce21bc59035408",
        "order": 1,
        "width": 12,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "30397002da674aae",
        "type": "ui_chart",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "",
        "group": "d6ce21bc59035408",
        "order": 2,
        "width": 12,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "85",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4b0bcdb747c158f2",
        "type": "ui_gauge",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "",
        "format": "{{value}}",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "043e0b845b7df3ad",
        "type": "ui_gauge",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "",
        "group": "3250b3d94e1fa8e6",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}",
        "min": "20",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "9153142b40625994",
        "type": "ui_text_input",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "",
        "label": "Dari",
        "tooltip": "",
        "group": "7e4ca4b84762c487",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "1",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "df41d33c64d8a964"
            ]
        ]
    },
    {
        "id": "18b09637292ae514",
        "type": "ui_text_input",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "",
        "label": "Sampai",
        "tooltip": "",
        "group": "7e4ca4b84762c487",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": "1",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "73acbbe2699ca38a"
            ]
        ]
    },
    {
        "id": "ef8d591e536f6f75",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "5d020af5e95b2f0f",
        "name": "SET PARAMETER",
        "func": "let array = msg.payload;\n\n\narray.forEach((data, index) => {\n    const date = new Date(data.unixtime * 1000);\n    data.unixtime = date.toLocaleString('es-US',{\n        timeZone: \"Asia/Jakarta\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        hour12: false\n    });\n\n    data.temperature = data.temperature + \" °C\";\n    data.humidity = data.humidity + \" %\";\n    data.number = index + 1;\n\n});\n\n\nmsg.payload = array;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 600,
        "wires": [
            [
                "6813becc9e0d8ec1"
            ]
        ]
    },
    {
        "id": "52d3a1adbb76270f",
        "type": "file in",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "463f5727536a49c3"
            ]
        ]
    },
    {
        "id": "311b246cb08daf2e",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "Set File name",
        "func": "var fileLocation = flow.get('fileLocation');\nmsg.payload = fileLocation;\nmsg.filename = fileLocation;\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "52d3a1adbb76270f",
                "ab01cd609b5846cb"
            ]
        ]
    },
    {
        "id": "24240f9d09a49a11",
        "type": "http response",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "Respons",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 1100,
        "wires": []
    },
    {
        "id": "463f5727536a49c3",
        "type": "change",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "attachment; filename=\"REPORT DHT11.csv\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1100,
        "wires": [
            [
                "24240f9d09a49a11"
            ]
        ]
    },
    {
        "id": "0dc8805fb4afbb91",
        "type": "http in",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "Request download",
        "url": "/file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "311b246cb08daf2e"
            ]
        ]
    },
    {
        "id": "1d53d28b25def0f1",
        "type": "file",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 750,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "ab01cd609b5846cb",
        "type": "delay",
        "z": "78f04c1128a4100f",
        "g": "a15340aee8fccd3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 1220,
        "wires": [
            [
                "1d53d28b25def0f1"
            ]
        ]
    },
    {
        "id": "e59de277e2f488a3",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "QUERY SELECT",
        "func": "var tanggal = flow.get('tanggal');\nvar waktu_awal = flow.get('waktu_awal');\nvar waktu_akhir = flow.get('waktu_akhir');\n\nvar start = tanggal + waktu_awal;\nvar end = tanggal + waktu_akhir;\n\nmsg.topic = \"SELECT * FROM sensor WHERE unixtime BETWEEN \" + start + \" AND \" + end + \";\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "778e1dc08be9e496"
            ]
        ]
    },
    {
        "id": "6754fdfc83ccf7d5",
        "type": "file",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 820,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "270b96a238394039",
        "type": "function",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "prepare data to csv",
        "func": "var data = msg.payload.reverse();\nvar time = [];\nvar temperature = [];\nvar humidity = [];\n\nfor(var i=0;i<msg.payload.length;i++){\n    \n    time[i] =  new Date(msg.payload[i].unixtime*1000).toLocaleString('en-US',{\n                    timeZone: \"Asia/Jakarta\",\n                    hour: \"2-digit\",\n                    minute: \"2-digit\",\n                    hour12: false\n                });\n                \n    temperature[i] = msg.payload[i].temperature;\n    humidity[i] = msg.payload[i].humidity;\n}\n\n\n//header CSV\n\nvar csv = \"REPORT MONITORING DHT11 \" + new Date().toLocaleDateString().replace(/\\//g, '-')+\"\\n\";\n    csv += \"time,temperature,humidity\\n\";\n\nfor(var j=msg.payload.length-1; j>=0; j--){\n    csv += time[j] + \",\"+temperature[j]+\",\"+humidity[j]+\"\\n\";\n}\n\nmsg.payload = csv;\n\n//directory file dan penamaan file\nvar basePath = \"C:/Users/edutic.id/.node-red/datalog/\";\nvar fileName = \"data_export.csv\";\nmsg.filename = basePath + fileName;\nflow.set('fileLocation', fileName);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "6754fdfc83ccf7d5"
            ]
        ]
    },
    {
        "id": "db3b739ff69854bd",
        "type": "ui_button",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "",
        "group": "7e4ca4b84762c487",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Download CSV",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-download",
        "payload": "file",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "78316ccb1ea790cb",
                "e59de277e2f488a3"
            ]
        ]
    },
    {
        "id": "78316ccb1ea790cb",
        "type": "delay",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "7a86e46973eda80c"
            ]
        ]
    },
    {
        "id": "b1cd8de2cd59f0d3",
        "type": "ui_template",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "group": "7e4ca4b84762c487",
        "name": "link download",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"file\") {\n          window.open(\"http://localhost:1880/file\");\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "7a86e46973eda80c",
        "type": "trigger",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "name": "reset msg",
        "op1": "",
        "op2": "empty",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 900,
        "wires": [
            [
                "b1cd8de2cd59f0d3"
            ]
        ]
    },
    {
        "id": "778e1dc08be9e496",
        "type": "mysql",
        "z": "78f04c1128a4100f",
        "g": "196081f0352f3af0",
        "mydb": "c440fb64982f81a2",
        "name": "",
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "270b96a238394039"
            ]
        ]
    },
    {
        "id": "bc263a9d365765fb",
        "type": "delay",
        "z": "78f04c1128a4100f",
        "g": "40836f6546617f82",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "c681dfee683963ac"
            ]
        ]
    },
    {
        "id": "a4bdcbc251c34ef8",
        "type": "ui_spacer",
        "z": "78f04c1128a4100f",
        "name": "spacer",
        "group": "7e4ca4b84762c487",
        "order": 7,
        "width": 12,
        "height": 1
    },
    {
        "id": "d02df75253f5c541",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c440fb64982f81a2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "edutic",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7e4ca4b84762c487",
        "type": "ui_group",
        "name": "TABLE",
        "tab": "23ce40b25f59cdd3",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ce21bc59035408",
        "type": "ui_group",
        "name": "CHART",
        "tab": "23ce40b25f59cdd3",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3250b3d94e1fa8e6",
        "type": "ui_group",
        "name": "GAUGE",
        "tab": "23ce40b25f59cdd3",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23ce40b25f59cdd3",
        "type": "ui_tab",
        "name": "MQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
